.movies-card {
  display: flex;
  flex-direction: column;
  max-width: 364px;
  height: 281px;
  list-style-type: none;
  border-radius: 6px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.movies-card__trailer {
  text-decoration: none;
}
.movies-card__trailer:hover {
  opacity: 0.8;
}
.movies-card__image {
  object-fit: cover;
  width: 100%;
  height: 203px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.movies-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-left: 16px;
  margin-right: 16px;
}
.movies-card__name {
  max-width: 226px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.movies-card__like {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 1s;
  border: none;
  background: #ffffff;
}
.movies-card__like:hover {
  opacity: 0.7;
}
.movies-card__like_active {
  background-image: url("../../images/liked-image.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.movies-card__like_inactive {
  background-image: url("../../images/like-image.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.movies-card__time {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a0a0;
  margin: 0 16px;
}
.movies-card__delete-button_visible {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 1s;
  border: none;
  background: #ffffff;
  background-image: url("../../images/delete-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.movies-card__delete-button_visible:hover {
  opacity: 0.7;
}
.none {
  display: none;
}
@media screen and (max-width: 840px) {
  .movies-card {
    width: 44.14vw;
    height: 262px;
  }
  .movies-card__image {
    height: 190px;
  }
  .movies-card__content {
    padding-bottom: 6px;
  }
  .movies-card__name {
    max-width: 38.41vw;
  }
}
@media screen and (max-width: 500px) {
  .movies-card {
    width: 300px;
    height: 246px;
  }
  .movies-card__image {
    height: 168px;
  }
  .movies-card__name {
    max-width: 240px;
    font-size: 12px;
    line-height: 14.52px;
  }
  .movies-card__time {
    font-size: 10px;
    line-height: 12.1px;
    margin-bottom: 34px;
  }
  .movies-card__time:last-child {
    margin-bottom: 10px;
  }
}