.promo {
  background-color: #465DFF;
}

.promo__inner {
  min-height: 598px;
  background-image: url(../../images/landing-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo__title {
  margin: 0;
  max-width: 730px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .promo__inner {
    min-height: 858px;
  }
}

@media screen and (max-width: 600px) {
  .promo__inner {
    min-height: 644px;
    background-size: 248px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}

