.search-form {
  box-sizing: border-box;
  padding: 70px 0 48px;
}

.search-form__form {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}

.search-form__input {
  width: 100%;
  border: none;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.11;
}

.search-form__input:focus {
  outline: 0;
  outline-offset: 0;
  color: black;

}

.search-form__button {
  display: flex;
  justify-content: center;
  min-width:34px;
  height:34px;
  background-color: #FF6838;
  background-image: url(../../images/search-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 48px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: 0.8;
}

.search-form__toggle-container {
  padding-top: 32px;
  width: 196px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
}

.search-from__toggle {
  position: relative;
  height: 20px;
  width: 39px;
  border-radius: 20px;
  -webkit-appearance: none;
  outline: none;
  background-color: #e8e8e8;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin-right: 14px;
}

.search-from__toggle:checked {
  background-color: #2be080;
}

.search-from__toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transition: 0.2s ease-in;
  background-color: white;
}

.search-from__toggle:checked::before {
  left: 22px;
}

.search-form__toggle-text {
  margin:0;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 80px 30px 61px;
  }

  .search-form__toggle-container {
    margin-left: auto;
    flex-direction: row-reverse;
  }

  .search-from__toggle {
    margin-left: 14px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .search-form {
    padding: 90px 10px 51px;
  }

  .search-form__form {
    min-height: 72px;
    box-sizing: border-box;
    margin-bottom: 41px;
    padding-bottom: 0;
  }

  .search-form__input {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .search-form__button {
    margin: 0;
    font-size: 11px;
    line-height: 1.63;
  }

  .search-form__toggle-container {
    border: none;
    justify-content: center;
    padding: 0%;
    width: 100%;
    font-size: 11;
    line-height: 1.63;
  }

}