.filter-checkbox__toggle-container {
  padding-top: 32px;
  width: 196px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
}

.filter-checkbox__toggle {
  position: relative;
  height: 20px;
  width: 39px;
  border-radius: 20px;
  -webkit-appearance: none;
  outline: none;
  background-color: #e8e8e8;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin-right: 14px;
}

.filter-checkbox__toggle:checked {
  background-color: #2be080;
}

.filter-checkbox__toggle::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transition: 0.2s ease-in;
  background-color: white;
}

.filter-checkbox__toggle:checked::before {
  left: 22px;
}

.filter-checkbox__toggle-text {
  margin:0;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .filter-checkbox__toggle-container {
    margin-left: auto;
    flex-direction: row-reverse;
  }

  .filter-checkbox__toggle {
    margin-left: 14px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .filter-checkbox__toggle-container {
    border: none;
    justify-content: center;
    padding: 0%;
    width: 100%;
    font-size: 11;
    line-height: 1.63;
  }
}